p {
    color: red;
}

p {
    color: blue;
}

p {
    font-size: 16px;
    font-weight: bold;
}

div p {
    font-size: 16px;
    font-weight: bold;
}

div h3 {
    font-size: 16px;
    font-weight: bold;
}

.title {
    font-size: 16px;
    font-weight: bold;
}

.contact {
    margin: 0 auto;
    background: none;
}

.footer {
    height: 100%;
    width: 100%;
    background: #000000;
}

.footer-logo {
    font-size: 20px;
    font-weight: bold;
    margin-left: 37%;
}

p {
    color: red;
}

#sample {
    color: yellow;
}

.sample {
    color: green;
}

* {
    color: pink;
}

div span {
    color: skyblue;
}

div>span {
    color: rgba(179, 0, 255, 0.215);
}

p+span {
    color: yellowgreen;
}

p,
span {
    color: orange;
}

p:first-child {
    color: orangered;
}

p:last-of-type {
    color: orangered;
}

p:nth-child(3) {
    color: rgb(255, 0, 115);
}

p:nth-child(3n) {
    color: rgb(225, 0, 255);
}

p:nth-child(3n-1) {
    color: orange;
}

p:nth-child(n+3) {
    color: blue;
}

p:nth-of-type(3) {
    color: rgb(0, 255, 247);
}

p:nth-of-type(3n) {
    color: red;
}

p:nth-of-type(3n-1) {
    color: red;
}

p:nth-of-type(n+3) {
    color: red;
}

* {
    line-height: 1;
}

.number__child {
    padding-left: 40px;
}

.number__parent:nth-of-type(3n) {
    color: blue;
}

.number__child:nth-of-type(n+2) {
    color: rgb(4, 0, 255);
}

#firstview.contain .contain__txt p {
    color: red;
}

.example1 {
    display: inline;
}

.example2 {
    display: block;
}

.example3,
.example4 {
    display: inline-block;
}

p {
    font-family: "Gorditas", serif;
    font-size: 16px;
}

h2 {
    font-family: "Noto serif JP", serif;
    font-size: 16px;
}

body {
    background-image: url("../img/red.jpg");
}

body {
    background-image: url("../img/red.jpg");
    background-size: 300px 100px;
}

body {
    background-image: url("../img/red.jpg");
    background-size: 300px 100px;
    background-repeat: no-repeat;
}

body {
    background-image: url("../img/red.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

body {
    background: #f2f2f2 url("../img/red.jpg") no-repeat center / 300px 150px
}

* {
    padding: 0;
    margin: 0;
}

.bg {
    background:url("../img/firstview.jpg") no-repeat bottom / cover;
    /* 高さを指定 */
    height: 700px
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.viewport {
    width: 100vw;
    height: 100vh;
    background: url("../img/mv.png")no-repeat center / cover
}

.parent {
    width: 500px;
    height: 500px;
    background-color: blue
}

.child {
    width: 100%;
    height: 50%;
    background-color: red
}

.boxsizing {
    width: 400px;
    height: 200px;
    background-color: red;
    margin: 50px auto;
}

.content-box {
    box-sizing: content-box;
}

